body {
    margin: 0;
    padding: 1em;
    background-color: #eee;
}

.code-block {
    color: white;
    display: inline-block;
    padding: 0.5em;
    background: #555;
}

#return-at {
    background: #555;
    border-bottom: solid black 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 4rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
}

.cat-name {
    color: red;
}

#tabs-area {
    display: flex;
    gap: 0.5em;
    padding-left: 0;
}

#tabs-area li {
    list-style: none;
    background: #abdf7d;
    padding: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

#gsap-sandbox {
    min-height: 200px;
    background-color: #ccc;
    padding: 1em;
}

#gsap-sandbox div {
    height: 100px;
    width: 100px;
    background-color: #f00;
    margin: auto;
    border-radius: 8px;
}

#box-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-two a {
    color: white;
    text-decoration: overline;
}

#parallax-sandbox {
    background: linear-gradient(#000, #141e31);
    width: 100%;
    overflow: hidden;
    height: 50vh;
    position: relative;
    margin-bottom: 30vh;
}

#parallax-sandbox img {
    max-width: 50%;
    position: absolute;
    /* top: 10%; */
}

#parallax-sandbox span {
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}