body {
    margin: 0;
    padding: 1em;
    background-color: #eee;
}

.code-block {
    color: white;
    display: inline-block;
    padding: 0.5em;
    background: #555;
}

#return-at {
    background: #555;
    border-bottom: solid black 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 4rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.cat-name {
    color: red;
}

#tabs-area {
    display: flex;
    gap: 0.5em;
    padding-left: 0;
}

#tabs-area li {
    list-style: none;
    background: #abdf7d;
    padding: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

#gsap-sandbox {
    min-height: 200px;
    background-color: #ccc;
    padding: 1em;
}

#gsap-sandbox div {
    height: 100px;
    width: 100px;
    background-color: #f00;
    margin: auto;
    border-radius: 8px;
}

#box-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-two a {
    color: white;
    text-decoration: overline;
}

#parallax-sandbox {
    background: linear-gradient(#000, #141e31);
    width: 100%;
    overflow: hidden;
    height: 50vh;
    position: relative;
    margin-bottom: 10vh;
}

#parallax-sandbox img {
    max-width: 50%;
    position: absolute;
    /* top: 10%; */
}

#parallax-sandbox span {
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

#banner-ad-area {
    height: 250px;
    width: 250px;
    background: linear-gradient(#000, #183972);
    position: relative;
    overflow: hidden;
    visibility: hidden;
}

#banner-ad-area img {
    width: 250px;
    position: absolute;
    top: 250px;
    left: 0;
}

#banner-ad-area div {
    width: 250px;
    height: 250px;
    background-color: #4b7fd7;
    position: absolute;
    top: 0;
    left: 250px;
}

#banner-ad-area p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-align: center;
}

#intro-to-gsap-section {
    display: none;
}

#scrolltrigger-section {
    min-height: 140vh;
    min-width: 100%;
}

.scroll-box {
    width: 150px;
    height: 100px;
    border: solid black 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}