body {
    margin: 0;
    padding: 1em;
    background-color: #eee;
}

.code-block {
    color: white;
    display: inline-block;
    padding: 0.5em;
    background: #555;
}

#return-at {
    position: fixed;
    padding: 1rem;
    font-size: 4rem;
    border: solid black 5px;
    border-radius: 8px;
    background: #555;
    color: #fff;
    top: 0;
    right: 0;
}