body {
    margin: 0;
    padding: 1em;
    background-color: #eee;
}

.code-block {
    color: white;
    display: inline-block;
    padding: 0.5em;
    background: #555;
}

#return-at {
    background: #555;
    border-bottom: solid black 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 4rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
}

.cat-name {
    color: red;
}

#tabs-area {
    display: flex;
    gap: 0.5em;
    padding-left: 0;
}

#tabs-area li {
    list-style: none;
    background: #abdf7d;
    padding: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}